<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/static/css/adminpages.css">
</head>

<body>

  <!-- Background -->
  <div class="bg-image"></div>
  <div class="overlay"></div>

  <!-- SIDEBAR -->
  <div class="sidebar">
    <div class="sidebar-logo">
      <h2>ReconX</h2>
    </div>

    <a href="/admin" class="sidebar-item">Dashboard</a>
    <a href="/admin/user-edit" class="sidebar-item">User Editing</a>
    <a href="/admin/audit-logs" class="sidebar-item">Audit Logs</a>
    <a href="/admin/pending-users" class="sidebar-item">Pending Users</a>
    <a href="/login" class="sidebar-item logout">Logout</a>

  </div>

  <!-- MAIN CONTENT -->
  <div class="content">
    <h1 class="welcome-title">Welcome Admin</h1>
  </div>

</body>

</html>